#popup {
    white-space: nowrap; /* To fix Chrome page size */
}

.space-justified {
    /* We do this hack to avoid doing 'float: right' which is broken in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=488725 */
    display: flex;
    justify-content: space-between;
}

input[type=number] {
    width: 5em;
}

label, input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

.password-visibility {
    margin: auto 5px;
    height: 1em;
    vertical-align: middle;
}

.character-settings {
    display: grid;
    grid-gap: 5px;
    align-items: baseline;
    grid-template-columns: [checkbox] auto [input] auto [count] auto [end];
    margin-top: 5px;
    margin-bottom: 5px;
}

.character-settings > .password-length-and-hands {
    grid-column: checkbox / end;
}

.character-settings > .count-header {
    grid-column: count;
    font-weight: bold;
    font-size: x-small;
}

.character-settings > .checkbox {
    grid-column: checkbox;
}

.character-settings > .input {
    grid-column: input;
}

.character-settings > .input input,
.character-settings > .input select {
    width: 10em;
}

.character-settings > .count {
    grid-column: count;
}

.character-settings > .exclude.count {
    font-size: xx-small;
}
